Checks: 'readability-identifier-naming,
  bugprone-use-after-move'

WarningsAsErrors: '*, -readability-identifier-naming'

CheckOptions:
  - key: readability-identifier-naming.AggressiveDependentMemberLookup
    value: 0  # otherwise errors possible

  - key: readability-identifier-naming.CheckAnonFieldInParent
    value: 1

  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.ClassConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ClassConstantPrefix
    value: k
  - key: readability-identifier-naming.ClassMemberCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMemberPrefix
    value: g

  - key: readability-identifier-naming.ConceptCase
    value: CamelCase

  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: k

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantPrefix
    value: k

  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key: readability-identifier-naming.GlobalConstantPointerCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPointerPrefix
    value: k
  - key: readability-identifier-naming.GlobalPointerCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalPointerPrefix
    value: g
  - key: readability-identifier-naming.GlobalVariableCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g

  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: '^enum_name$'

  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.MethodIgnoredRegexp
    value: '^begin|end$'
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case

  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: _

  - key: readability-identifier-naming.ScopedEnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ScopedEnumConstantPrefix
    value: ''
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantPrefix
    value: k
  - key: readability-identifier-naming.StaticVariableCase
    value: CamelCase
  - key: readability-identifier-naming.StaticVariablePrefix
    value: g

  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasIgnoredRegexp
    value: '^is_transparent$'
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase

# TODO(mbkkt) maybe?
# - key: readability-identifier-naming.ValueTemplateParameterPrefix
#   value: k

  - key: readability-identifier-naming.VariableCase
    value: lower_case
